@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LaughHub</h1>
    <p>🎉 Welcome to LaughHub: Your Daily Dose of Laughter! 🎉</p>
	<p>Are you ready to embark on a journey into the world of humour and good vibes? Look no further!
	This hub is your go-to destination for a daily dose of laughter, smiles, and maybe a few snickers.</p>
</div>
